<div class="jumbotron">
  <br/>
  <div class="container">

    <div class="row">
      <div class="col-sm-4">

        <div class="text-center">
          <h4 ng-click="collapseRules = !collapseRules">RULES</h4>
          <div collapse="collapseRules" class="rules">
            <ol>
              <li>
                <a href="https://twitter.com/intent/tweet?button_hashtag=poetrywars" class="twitter-hashtag-button"
                    data-size="large" data-related="powerpoetry" data-dnt="true">Tweet #poetrywars</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
              <li>Get score from <b>@powerpoetry</b>.</li>
              <li>Measure up and <b>battle!</b></li>
            </ol>
          </div>
          <br/>
        </div>

        <div class="text-center">
          <h4 ng-click="collapseBadges = !collapseBadges">BADGES</h4>
          <div collapse="collapseBadges" class="spoils">
            <ul class="list-inline">
              <li ng-repeat="b in badges">
                <a ng-class="{selected: b.selected}" ng-click="selectBadge(b)">
                  <img ng-src="/static/img/badge-0(($index + 1)).png"/>
                </a>
              </li>
            </ul>

            <div class="badge-info text-center">
              <b>((selectedBadge.badge))</b><br/>
              ((selectedBadge.description))
            </div>
          </div>
          <br/>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="text-center">
          <h4 ng-click="collapseTweet = !collapseTweet">TWEET</h4>
          <div class="main-tweet-text" collapse="collapseTweet">
            <strong>&ldquo;</strong>((tweet.text))<strong>&rdquo;</strong><br/>
            <i>
              <a href="#/poet/((tweet.tweeted_by))">
                <img class="badge-small" ng-src="/badge/((tweet.tweeted_by))"/>
                @((tweet.tweeted_by))
              </a>
            </i>
            <div class="margin-center" raty tweet="tweet"></div>
            <br/>
          </div>
          <br/>
        </div>

        <div class="score text-center">
          <h4 ng-click="collapseScore = !collapseScore">SCORE</h4>
          <div collapse="collapseScore">
            <h3>
              ((tweet.score | number:0)) Points
            </h3>
            <br/>

            <div ng-include="'breakdown.html'"></div>
            <a class="hidden-xs" href="http://www.powerpoetry.org/content/poetrywars-about">Scoring Strategy</a>
            <br/><br/>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="tweets">
          <div class="tweet-tabs text-center">
            <ul class="nav nav-pills">
              <li ng-class="{active: slice == 'latest'}"><a href="#/poetic/latest/((tweet.id))">Latest</a></li>
              <li ng-class="{active: slice == 'greatest'}"><a href="#/poetic/greatest/((tweet.id))">Greatest</a></li>
              <li ng-class="{active: slice == 'leaders'}"><a href="#/poetic/leaders/((tweet.id))">Leaders</a></li>
            </ul>
          </div>
          <div class="users" ng-if="users">
            <div class="user" ng-repeat="u in users">
              <div class="pull-left twitter-pic">
                <div class="twitter-pic">
                  <a href="http://www.twitter.com/((u.screen_name))">
                    <img ng-src="/twitter-pic/((u.screen_name))"/>
                  </a>
                </div>
              </div>
              <img class="badge-small" ng-src="/badge/((u.screen_name))"/>
              <i><a href="#/poet/((u.screen_name))">@((u.screen_name))</a></i><br/>
              <strong>
                <small>
                  <ul class="list-inline">
                    <li>
                      Total: ((u.score))
                    <li/>
                    <li>
                      Avg: ((u.average | number:2))
                    <li/>
                    <li>
                      Tweets: ((u.count))
                    <li/>
                  </ul>
                </small>
              </strong>
            </div>
          </div>

          <div ng-if="tweets" when-scrolled="nextPage" busy="busy" class="tweets-container">
            <div class="tweet" ng-repeat="t in tweets">
              <div>
                <div class="pull-left twitter-pic">
                  <a href="http://www.twitter.com/((t.tweeted_by))">
                    <img ng-src="/twitter-pic/((t.tweeted_by))"/>
                  </a>
                </div>
                <img class="badge-small" ng-src="/badge/((t.tweeted_by))"/>
                <i><a href="#/poet/((t.tweeted_by))">@((t.tweeted_by))</a></i>
                <div class="pull-right">
                  <div style="position: relative; margin-top: -5px;">
                    <i class="glyphicon glyphicon-star" style="font-size: 2.8em; color:#FFD801"></i>
                    <strong style="font-size: 0.7em; position: absolute; left:10px; top: 12px; z-index: 9999;">
                      ((t.rating | number:1))
                    </strong>
                  </div>
                </div><br/>

                <div class="tweet-text">
                  <strong>&ldquo;</strong><span ng-click="Data.go('poetic/' + slice + '/' + t.id)">((t.text))</span><strong>&rdquo;</strong>
                  <div class="text-left" style="margin-top: 5px; margin-bottom: -5px;">
                    <strong style="color: #999;"><small>((t.score)) pts</small></strong>&nbsp;
                    <small style="color: #aaa;">((t.created_at | date:'MMM dd, yyyy@h:mm a'))</small>&nbsp;&nbsp;
                    <div class="pull-right" raty tweet="t"></div><br/>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="busy">Loading data...</div>
          </div>
        </div>
        <br/>
      </div>
    </div>

  </div>
</div>