<div class="jumbotron">
  <!-- <a  class="pull-right" href="#/">back</a> -->
  <div class="container text-center">
    <h2 class="poet-title">
      <a href="http://twitter.com/((poet))">
        @((poet))
      </a>
    </h2>
    <h5 class="kankin">
      <img class="badge-small" ng-src="/static/img/badge-0((badge.index + 1)).png"/> ((badge.badge))
    </h5>
    <img style="border: 1px solid #ccc; border-radius: 2px;" ng-src="/twitter-pic/((poet))"/>
    <h5>
      ((score.score)) points
    </h5>
    <div progressbar animate="true" value="progress" max="maxProgress" class="poet-progress margin-center progress-striped active">
      <small class="text-center">
        <strong>((toNextLevel)) points to next level</strong>
      </small>
    </div>
  </div>

  <div class="container poet-tweet" ng-repeat="tweet in tweets">
    <div class="row">
      <div class="col-xs-12">
        <small><br/>((tweet.created_at | date:'MMM dd, yyyy @ h:mm a'))</small>
        <br/>
        <div class="pull-left" raty="rate" tweet="tweet"></div>
        &nbsp;<strong>&ldquo;</strong>((tweet.text))<strong>&rdquo;</strong><br/>
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-xs-4">
        <div class="poet-score text-center">
          <h4>SCORE</h4>
          <h2>
            ((tweet.score | number:2))%
          </h2>
        </div>
      </div>

      <div class="col-xs-8">
        <div ng-include="'breakdown.html'"></div>
      </div>

    </div>
  </div>
</div>