a {
  cursor: pointer;
}

body {
  background-color: #000;
}

.title {
  position: relative;
}

.title img {
  width: 100px;
}

.top-menu {
  position: absolute;
  right: 0px;
  top: 10px;
}

.top-menu span {
  position:relative;
  top: -5px;
}

.progress-bar-yellow .progress-bar {
  background-color: #ffcc33;
}

.progress-bar-grey .progress-bar {
 background-color: #bcbaba;
}

.progress-bar-red .progress-bar {
 background-color: #a12931;
}

.score {
  padding: 10px 5px;
  margin-right: 10px;
  margin-bottom: 30px;
  height: 200px;
  border-right: 1px solid #ccc;
}

.score h2 {
  color: orange;
}

.breakdown {
  clear: both;
  margin-bottom: 40px;
}

.breakdown span {
  color: black;
  white-space: nowrap;
}

.breakdown .pull-left {
  width: 80px;
  text-align: right;
  font-weight: 450;
}

.error {
  display: block;
  font-size: 0.8em !important;
  color: #f63232;
}

.ng-pristine .error {
  display: none;
}

.tweet {

}

.tweets {
  padding: 0;
  border: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-radius: 5px;
}

.tweets .tweets-container {
  padding: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.tweet-tabs {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tweets-container > div.tweet {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888888;
  cursor: pointer;
}

.poet-score {
}

.poet-score h2 {
  color: orange;
}

.poet-tweet {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  max-width: 767px !important;
}

.poetic-tweet {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  max-width: 767px !important;
  height: 205px;
  padding-left: 10px;
}

input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  /*background-color: #78FA89;*/
}

.footer {
}

.flash {
  margin-top: -30px;
}

.spinner {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -40px;
}

.register .row {
  padding: 5px;
}

.fluidimg {
  max-width: 100%;
}

.main-nav {
  font-size: 14px;
}

.main-content {
  /*margin-top: 80px;*/
}

.title {
  background-color: #000;
}

.login-btn {
  position:relative;
  top: 8px;
  right: 10px;
}

.main-buttons a {
  border: 2px solid #009933;
  font-weight: 600;
  font-size: 1.6em;
}

.jumbotron {
  padding-top: 0 !important;
}

.panel-image-container {
  height: 140px;
  width: 1%;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.panel-image-container img {
  position: absolute;
  bottom: -40px;
  left: -195px;
}

.profile-buttons {
  border-top: 1px solid #ccc;
  background-color: #efefef;
  padding: 60px;
}

.subscribe-nav {
  text-align: center;
  margin: 0 auto 20px auto;
  color: #616161;
}

.subscribe-nav h5 {
  font-size: 1.8rem;
  display: inline-block;
  color: #bbb;
  margin: 0 8px;
}

.subscribe-nav h5.done {
  color: #a7c280;
}

.dashed {
  border-top: 2px dashed #ddd;
  margin: 0 0 30px 0;
  display: block;
  border-bottom: 0 solid #fff;
}

.summary-row {

}

.summary-label {
  display: inline-block;
  text-align: right;
  width: 100px;
  margin-right: 30px;
}

.summary-value {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  width: 100px;
}

@media(min-width: 768px) {
  .jumbotron#main-jumbotron {
    background-color: #5eb2d9;
    height: 550px;
  }
}

@media(max-width: 768px) {
  .tweets {
    margin-bottom: 20px;
  }

  .tweets-container {
    height: 200px;
  }
}
