<!DOCTYPE html>
<html ng-app="pptwitter">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Poetry - How poetic is your Tweet?</title>
    <!--[if IE]><script src="{{ url_for("static", filename="components/html5shiv/dist/html5shiv.js") }}"></script><![endif]-->
    <!--[if IE]><script src="{{ url_for("static", filename="components/angular-ui-chart/build/angular-ui-ieshiv.min.js") }}"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ url_for("static", filename="components/jqplot/excanvas.js") }}"></script><![endif]-->

    <!-- Source mapped -->
    <script type="text/javascript" src="{{ url_for("static",
        filename="components/jquery/jquery.min.js") }}"></script>

    <script>
    // Fake console for IE < 10
    if(!window.console) {
      console = {
        log: function() {}
      };
    }

    // Extracts query params from query string
    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split('&');
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
      }
    }

    // Route forwarding
    var route = getQueryVariable('route');
    if (route) {
        var query = window.location.search.substring(1);
        var vars = $.grep(query.split('&'), function(v) {
            return decodeURIComponent(v.split('=')[0]) != 'route';
        });
        window.location = '/?' + vars.join('&') + '#/' + route;
    }

    window.user = {{ logged_in_user | tojson }};
    </script>

    <!-- Source mapped -->
    <script type="text/javascript" src="{{ url_for("static",
        filename="components/angular/angular.min.js") }}"></script>

    {% assets output="gen/pptwitter-deps-bundle.js",
        "components/jquery-ui/ui/minified/jquery-ui.min.js",
        "components/lodash/dist/lodash.min.js",
        "components/select2/select2.min.js",
        "components/angular-route/angular-route.min.js",
        "components/angular-ui/build/angular-ui.min.js",
        "components/angular-ui-date/src/date.js",
        "components/angular-bootstrap/ui-bootstrap-tpls.min.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="uglifyjs", output="gen/pptwitter-bundle.js",
        "js/pptwitter.js",
        "js/api.js",
        "js/services.js",
        "js/filters.js",
        "js/directives.js",
        "js/controllers.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link rel="stylesheet" href="{{ url_for("static",
        filename="components/jquery-ui/themes/redmond/jquery-ui.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static",
        filename="components/angular-ui/build/angular-ui.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static",
        filename="components/bootstrap/dist/css/bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static",
        filename="components/jqplot/jquery.jqplot.min.css") }}"/>

    {% assets output="gen/pptwitter-css.css",
        "css/theme.css",
        "css/fonts.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <link rel="shortcut icon" type="image/x-icon"
        href="{{ url_for("static", filename="img/favicon.ico") }}"/>

    <link rel="icon" type="image/x-icon"
        href="{{ url_for("static", filename="img/favicon.ico") }}"/>
  </head>

  <body>
    <div ng-controller="AppCtrl">
      <div class="title text-center container">
        <h1 class="banner kankin">
          <a href="#/" title="powerpoetry.org">
            #POETRYWARS
          </a>
        </h1>

        <div class="top-menu-left">
          <span>
            <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;
          </span>
          <span>
            <a href="http://powerpoetry.org/about">About</a>
          </span>
        </div>

        <div class="text-center hidden-xs">
          <h2 class="subtitle kankin">Poetry by any means necessary<br/></h2>
        </div>

        <div class="top-menu">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpowerpoetry%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;width=50" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:140px;" allowTransparency="true"></iframe>
        </div>
      </div>

      <div class="spinner" ng-show="Data.loading">
        <img src="{{ url_for("static", filename="img/ajax-loader.gif") }}"/>
      </div>

      <div class="content main-content">
        <div ng-show="Data.message" class="alert alert-((Data.level)) text-center flash">
          <a class="pull-right" ng-click="Data.message = null">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
          (( Data.message ))<br/>
        </div>

        <div ng-view class="main"></div>
      </div>

    </div>

    <footer class="container text-center">
      <a href="http://powerpoetry.org" title="powerpoetry.org">
        <img src="{{ url_for("static", filename="img/powerpoetry_logo_0.jpg") }}"/>
      </a>
      <ul class="list-inline">
        <li><a href="http://powerpoetry.org/about">About</a></li>
        <li><a href="http://powerpoetry.org/blog">Blog</a></li>
        <li><a href="http://powerpoetry.org/about/who-we-are">Team</a></li>
        <li><a href="http://powerpoetry.org/partners">Partners</a></li>
        <li><a href="http://powerpoetry.org/help">Help</a></li>
        <li><a href="http://powerpoetry.org/jobs">Jobs</a></li>
        <li><a href="http://powerpoetry.org/contact">Contact</a></li>
      </ul>
      <div class="text-center">&nbsp;  &#169; Power Poetry</div>
    </footer>
  </body>

  <script type="text/ng-template" id="confirmDialog.html">
    <div class="modal-header">
      <a class="pull-right">
        <i class="glyphicon glyphicon-remove" ng-click="$close(false)"></i>
      </a>
      <h4>Confirm</h4>
    </div>
    <div class="modal-body">
      (( message ))
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="$close(false)">
        Cancel
      </button>
      <button class="btn btn-success" ng-click="$close(true)">
        Ok
      </button>
    </div>
  </script>

  <script type="text/ng-template" id="breakdown.html">
    <div class="breakdown">
      <div class="pull-left">Sentiment:&nbsp;</div>
      <div class="progress-bar-yellow" progressbar max="100" value="((tweet.sentiment))">
        <span>((tweet.sentiment))%</span>
      </div>

      <div class="pull-left">Language:&nbsp;</div>
      <div class="progress-bar-blue" progressbar max="100" value="((tweet.language))">
        <span>((tweet.language))%</span>
      </div>

      <div class="pull-left">Poetic:&nbsp;</div>
      <div class="progress-bar-red" progressbar max="100" value="((tweet.poetic))">
        <span>((tweet.poetic))%</span>
      </div>
    </div>
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27172732-2', 'powerpoetry.org');
    ga('send', 'pageview');

  </script>
</html>
